
/* layout style */


/* carousel style */

/* thumbs style */

.owl-thumbs {

	width: 100%;
	height: 80px;
	margin: 2px 0;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	line-height: 0;
	font-size: 0;
}
.owl-thumbs .owl-thumbs-wrapper {

	width: auto;
	height: inherit;
	transition: left .4s ease-in-out;
	position: absolute;
	left: 0;
	top: 0;
}
.owl-thumbs .owl-thumb-item {

	width: 80px;
	height: inherit;
	margin-right: 2px;
	padding: 0;
	border: none;
	background-image: none;
	background-color: transparent;
	vertical-align: top;
	position: relative;
	text-align: center;
    cursor: pointer;
    color: inherit;
}
.owl-thumbs .owl-thumb-item img {

	width: 100%;
	height: 100%;
	object-position: 50% 50%;
	object-fit: cover;
}
.owl-thumbs .owl-thumb-item.active {

	border: 2px solid #FFFFFF;
}
.owl-thumbs .owl-thumb-item.active img {

	opacity: .4;
}

/* cover style */

.cover {

    width: 100%;
    max-width: 100%;
    height: inherit;
    object-position: 50% 50%;
    object-fit: cover;
}

